.Chat-main
  .Chat-main__right-header
    .Right-header
      .Right-header__group-name
        = @group.name
      %ul.Right-header__member-list
        Member :
        %li.Right-header__member-name
          - @group.users.each do |user|
            = user.name
    = link_to "#", class: "Edit-btn" do
      Edit
      
  .Chat-main__message-list
    .Message-list
      = render @messages
    

  .Chat-main__message-form
    .Message-form
      .Form
        = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
          .input-box
            = f.text_field :body, class: "input-box__text", placeholder: "type a message"
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image')
              = f.file_field :image, class: "input-box__image__file"
          = f.submit 'Send', class: "submit-btn"