.Side-bar
  .Side-bar__left-header
    .Left-header
      %p.Left-header__user-name
        = current_user.name
      .Left-header__icon-list
        = link_to new_group_path, class: "Top-header__icons" do
          =icon('far', 'edit', class: 'note')
        = link_to edit_user_path(current_user), class: "Top-header__icons" do
          =icon('fas', 'cog', class: 'gear')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group-list
        = link_to '#' do
          .Group-list__name
            = group.name
          .Group-list__message
            メッセージはまだありません